.s2
    div
        .carousel-inner
            height: 25em
            overflow: auto
            .carousel-item
                object-fit: contain
                filter: brightness(.3)
                img
            .carousel-caption
                bottom: 7em
                h2
                    color: $blue
                    padding-bottom: 1em
                     