.contact
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .7em
        h3
            color: $txtblack
            font-weight: 600
            span
                color: $blue
    .contact_case
        padding-right: 3em
        width: 63%
        gap: 1em
        align-items: center
        .box
            box-shadow: $card-box-shadow
            .logo
                border: 2px #B3D1FA dotted
                border-radius: 100%
                width: 3em
                height: 3em  
                img
                    height: 1.5em
            h5
                color: #757575
            p
                color: #757575   
                font-size: .7em
