.contact
    div
        a
            background-color: #E7F1FD
            border: none 
            color: $blue
            font-size: .6em
            width: 5rem
        h4
            color: $txtblack
            font-weight: 600
            span
                color: $blue
        p
            font-size: .8em
    .contact_case
        padding-right: 3rem
        width: 63%
        gap: 1em    // dire que je veux un gap entre les block
        align-items: center
        .box
            box-shadow: $card-box-shadow
            .logo
                border: 2px #B3D1FA dotted  // le dotted fait que le border est en pointillé 
                border-radius: 100%
                width: 3em
                height: 3em  
                img
                    height: 1.5em
            h5
                color: #757575
            p
                color: #757575   
                font-size: .7em
    .contact_box
        width: 63%
        gap: .4em 
        align-items: center
        padding-right: 1.3em
        padding-top: 1em
        .box-formulaire
            padding: 1em
            box-shadow: $card-box-shadow
            height: 18em
            input
                font-size: .7em
                color: #A0A7AC
            textarea
                width: 100%
                height: 7rem
                font-size: .7em
                color: #A0A7AC
            .lien_bonus 
                font-size: .8em
                height: 2.5rem
                width: 40%
                background-color: $blue
                color: #fff
                padding-top: .6rem

@media (max-width: 1024px) 
    .contact
        div
            iframe
                width: 292.56px // je modifie la largeur de la maps car elle a des valeur absolue
        .contact_box
            .box-formulaire
                .lien_bonus
                    width: 50% // la taille du bouton pour que le texte reste sur la même ligne

@media (max-width: 768px) 
    .contact
        .contact_case
            .box
        div
            iframe
                width: 211.91px
        .contact_box
            .box-formulaire
                .lien_bonus
                    width: 70%

@media (max-width: 425px) 
    .contact
        div
            p
                font-size: .5em
        .contact_case
            padding-right: 1.5rem
            flex-wrap: wrap
            align-items: center
            width: 80% // agrandir l'espace utilisé par rapport a la taille de l'écran
            div
                .box
                    width: 320.2
                    h5
                        font-size: 1em // modifie la font-size pour fit dans l'espace disponible
                    p
                        font-size: .5em
        div
            iframe
                width: 307.2px
        .contact_box
            flex-direction: column
            width: 80% // agrandir l'espace utilisé par rapport a la taille de l'écran
            .box-formulaire
                padding: .5em
                textarea
                    height: 5em
                .lien_bonus
                    width: 90%

@media (max-width: 375px) 
    .contact
        div
            p
                font-size: .5em
        .contact_case
        div
            iframe
                width: 267.2px
        .contact_box
            .box-formulaire
                .lien_bonus
                    width: 90%
                    font-size: .7rem
                    padding-top: .7rem