.featured
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .7em
    h3
        color: $txtblack
        font-weight: 600
        span
            color: $blue
    .s1-card
        padding-left: 7%
        justify-content: space-between
        div
            box-shadow: $card-box-shadow
            img
                width: 20%
            p
                font-size: .7em
