.featured
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .7em
    h4
        color: $txtblack
        font-weight: 600
        span
            color: $blue
    .s1-card
        padding-left: 7%
        padding-right: 7%
        div
            box-shadow: $card-box-shadow
            img
                width: 19%
            #img-card
                height: 19%
            p
                font-size: .7em
