footer
    background-color: #f1f6fe
    align-items: center
    .container
        width: 63% // définition de l'espace
        justify-content: space-between // l'espacement entre les block
        align-content: center
        align-items: center
        p
            font-size: .7em
            span
                color: $blue

@media (max-width: 425px) 
    footer
        .container
            p
                font-size: .3em
    