header
    background-image: url("../img/hero-bg.jpg")
    background-position-x: 80%
    background-size: 100%
    background-repeat: no-repeat
    height: 35em
    .filter
        background-color: rgba(255, 255, 255, 0.552)
        height: 35em
        align-items: center
        div
            padding-left: 15%
            h1
                span
                    color: $blue
            a
                background-color: $blue
                font-size: .7em
                width: 10%
        
            


