nav
    align-items: center
    justify-content: space-evenly 
    background-color: #fff
    h3 
        color: $txtblack // variable donné dans pour le texte
        span
            color: $blue // variable donné dans pour le fond et la couleur de texte qui revient
    #navbar
        font-size: .75em
        li
            a
                color: $txtblack // variable donné dans pour le texte