nav
    gap: 25rem
    h3 
        padding-left: 14rem
        color: $txtblack // variable donné dans pour le texte
        span
            color: $blue // variable donné dans pour le fond et la couleur de texte qui revient
    #navbarTogglerDemo02
        ul
            display: flex
            justify-content: center
            align-items: center

            font-size: .75em
            li
                a
                    color: $txtblack // variable donné dans pour le texte

@media ( max-width: 1024px)
    nav
        gap: 15rem
        h3
            padding-left: 9.2rem

@media ( max-width: 768px)
    nav
        h3
            padding-left: 7.2rem           

@media ( max-width: 425px)
    nav
        h3
            padding-left: 0rem

@media ( max-width: 375px)
    .navbar
        display: flex
        gap: 0rem