// la même chose  que dans _featured.sass excepter qu'ici on donne un bg-color en plus
.profile
    background-color: #F6F9FE
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .6em
            height: 1.5rem
            width: 4rem
        h4
            color: $txtblack
            font-weight: 600
            span
                color: $blue
        p
            font-size: .8em
    .profile-card
        width: 63%
        .card
            border: none
            box-shadow: 0 4px 8px rgba(144, 177, 222, 0.226) // crée un border shadow plus claire
            transition: transform 0.3s ease, filter 0.3s ease // gestion de l'animation
            &:hover
                filter: none
            .card-body
                height: 6em
                h5
                    font-size: .8em
                    color: $txtblack
                p
                    font-size: .7em
                    color: #C0C0C0
        &:hover .card:not(:hover)
            transform: scale(0.9)
            filter: blur(3px)
@media (max-width: 768px) 
    .feature
        .pro

@media (max-width: 425px) 
    .profile
        div
            p
                font-size: .5em
        .d-flex // permet d'alligner les éléments sur une seul ligne
            flex-direction: column
            align-items: center

