.profile
// la même chose  que dans _featured.sass excepter qu'ici on donne un bg-color en plus
    background-color: #F6F9FE
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .7em
        h4
            color: $txtblack
            font-weight: 600
            span
                color: $blue
        p
            font-size: .8em
    .profile-card
        padding-left: 7%
        padding-right: 7%
        div
            box-shadow: 0 4px 8px rgba(143, 205, 219, 0.1) // crée un border shadow plus claire
            .card-body
                height: 6em
                h5
                    font-size: .8em
                    color: $txtblack
                p
                    font-size: .7em
                    color: #C0C0C0

@media (max-width: 425px) 
    .profile
        div
            p
                font-size: .5em
        .d-flex // permet d'alligner les éléments sur une seul ligne
            flex-direction: column
            align-items: center

