.services
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .7em
        h3
            color: $txtblack
            font-weight: 600
            span
                color: $blue
    
    .services-card
        padding-left: 7%
        padding-right: 7%   
        flex-wrap: wrap    
        .card-body
            border: 1px solid #DFEBFD
            width: calc(33.333% - 1rem)
            height: 15em
            div
                height: 2.7em
                width: 2.7em
                background-color: #F1F6FE
                border-block-end-color: #DFEBFD
                border-block-start-color: #DFEBFD
                border-bottom-color: #DFEBFD
            .alert
                --bs-alert-padding-x:.7em                  
            p
                font-size: .7em
        