.services
    // la même chose  que dans _featured.sass
    div
        a
            background-color: #E7F1FD
            border: none
            color: $blue
            font-size: .6em
        h4
            color: $txtblack
            font-weight: 600
            span
                color: $blue
        p
            font-size: .8em
    
    .services-card
        width: 63%   
        flex-wrap: wrap    
        .card-body
            border: 1px solid #DFEBFD      // crée la border autour de chaque carte
            width: calc(33.333% - 1rem)     // dit que chaque carte prend 33.333% de l'espace disponible - 1rem qui permet de crée de l'espace 
            height: 15em
            div
                height: 2.7em
                width: 2.7em
                background-color: #F1F6FE
                border: solid 1px #DFEBFD
                border-radius: 5px
                img
                    width: 40%      // donne le % d'espace vouluq ue prendra l'image dans la dive      
            p
                font-size: .7em

@media (max-width: 768px) 
    .services
        .services-card
            .card-body
                width: calc( 50% - 1rem ) // au lieu de 3 par ligne on passe à 2 par ligne

@media (max-width: 425px) 
    .services
        div
            p
                font-size: .5em
        .services-card
            .card-body
                width: calc( 100% - 1rem )      // maintenant 1 par ligne 